# Local configurations
.git
.gitconfig
# Editors
.idea
*.sublime-*
!gitflow-subfeatures.sublime-project
# Generated folders
build
script-output
# Personal working files (you might not need these)
scratch*.*
README.html
# Temporary post files; can be unignored later
*.log
build
