## Code

You can view the code related to this post [in its repo](//github.com/thecjharries/posts-gitflow-subfeatures-with-gitflow-avh). To see how I generated everything, check out [the `scripts` directory](//github.com/thecjharries/posts-gitflow-subfeatures-with-gitflow-avh/tree/master/scripts).
