## Note

This is not a `gitflow` overview. Check out [the original branching model](http://nvie.com/posts/a-successful-git-branching-model/) and [the `gitflow` repo](https://github.com/nvie/gitflow) for more information on those.
